<div class="p-comment__item">
  <div class="row">
    <div class="col-auto">
      <%= link_to user_path(id: comment.user.id) do%>
        <span><%= image_tag comment.user.image_url, class: "resize_image" %></span>
      <% end %>
    </div>
    <div class="col-md-2">
      <p><%= link_to comment.user.name, user_path(id: comment.user.id) %>さん</p>
      <p>投稿日時<%= comment&.created_at&.to_s(:datetime) %></p>
    </div>
  </div>
  <p><%= simple_format(comment.comment) %></p>
  <div class="p-comment__bottomLine">
    <span><%= link_to '削除', comment_path(id: comment.id), method: :delete, data: { confirm: '削除してもよろしいですか？' } %></span>
  </div>
</div>

<style type="text/css">
  .p-comment__formBox {
    margin: 30px auto;
    border: 5px solid #e8e8e8;
    padding: 25px;
    border-radius: 14px;
  }

  .p-comment__formTitle {
    border-bottom: 2px solid #dfdfdf;
    padding-bottom: 5px;
  }

  .p-comment__listTitle {
    border-bottom: 2px solid #dfdfdf;
    padding-bottom: 5px;
  }

  .p-comment__list {
    margin: 38px 0;
    padding: 20px;
  }

  .p-comment__item {
    padding: 18px;
    border-bottom: 2px dotted #dfdfdf;
  }

  .p-comment__bottomLine {
    font-size: 15px;
    text-align: right;

    > span {
      font-size: 14px;
      margin: 0 12px;
    }
  }

  .resize_image {
    width: 75px;
    height: 75px;
    object-fit: cover;
    border-radius: 50%;
    padding: 2px;
    border: 2px solid #333300;
  }
</style>