  <tr>
    <td><%= board.id %></td>
    <td><%= board.title %></td>
      <td><%= image_tag board.user.image_url, class: "resize_image" %>  <%= board.name %></td>
    <td><%= board.created_at.to_s(:datetime) %></td>
    <td><%= board.updated_at.to_s(:datetime) %></td>
    <td><%= link_to '詳細', board_path(id: board.id) , class: "btn btn-outline-dark" %></td>
    <td><%= link_to '削除', board_path(id: board.id) , class: "btn btn-danger", method: :delete %></td>
  </tr>

<style>
  .resize_image {
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 50%;
    padding: 2px;
    border: 2px solid #333300;
  }
</style>