<%= render 'shared/error_messages' %>

<%= form_for unko do |f| %>
  <div class="form-group">
    <%= f.label :name, '名前' %><span class="badge badge-danger">必須</span>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :title, 'タイトル' %><span class="badge badge-danger">必須</span>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :body, '本文' %><span class="badge badge-danger">必須</span>
    <%= f.text_area :body, class: 'form-control', rows: 10 %>
  </div>
  <div class="form-group">
    <span>タグ</span>
    <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
      <div class="form-check">
        <%= tag.label class: 'form-check-label' do %>
          <%= tag.check_box class: 'form-check-input' %>
          <%= tag.text %>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="form-group">
    <span>ユーザー選択</span><span class="badge badge-danger">必須</span>
    <%= f.collection_select(:user_id, User.all, :id, :name, prompt: "選択してください") %>
  </div>
  <%= f.submit '保存', class: 'btn btn-primary' %>
<% end %>